@import '../helpers/mixin.styl'

/* fonts */


/* general color and size */

body, html
    -webkit-font-smoothing antialiased
    font-family 'Open Sans', sans-serif;
    font-size 16px
    color #666
    

/* links */

a 
    text-decoration none
    &:hover
        text-decoration underline
         

/* titles */ 

h1, h2, h3
    font-weight normal
    
h1
    font-size 1.8em  
      
h2
    font-size 1.6em
    
h3
    font-size 1.4em    
    
h4
    font-size 1.2em
    
.page-title
    margin 40px 0 20px 0