<div class="account-page wrapper">

    <h1 class="account-page-title page-title">Mi cuenta</h1>

    <div class="account-card profile-card">

        <label class="avatar-uploader pointer" ng-class="{working: dashboard.data.uploading}">
            <div class="avatar-uploader-icon">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <img class="avatar large" src="{{ 'thumb-'+account.user.avatar | uploads }}">
            <input ng-file="avatar" class="hidden" type="file">
        </label>

        <div class="account-card-info">
            <div class="account-card-title">{{account.data.firstName}} {{account.data.lastName}}</div>
            <div>{{account.data.city}}, {{account.data.country}}</div>
        </div>
        <a href="/#/p/account/profile" class="btn btn-blue account-card-action">Editar perfil</a>
    </div>

    <!-- desktop -->
    <div class="account-card show-desktop">
        <div class="account-card-info">
            <div class="account-card-title">Email</div>
            <div class="account-card-content">{{account.data.email}}</div>
        </div>
        <a href="/#/p/account/email" class="btn btn-blue account-card-action">Cambiar email</a>
    </div>

    <div class="account-card show-desktop">
        <div class="account-card-info">
            <div class="account-card-title">Password</div>
            <div class="account-card-content">******</div>
        </div>
        <a href="/#/p/account/password" class="btn btn-blue account-card-action">Cambiar password</a>
    </div>

    <!-- mobile -->
    <div class="account-card show-mobile pointer" ng-click="account.goEmail()">
        <div class="account-card-info">
            <div class="account-card-title">Cambiar email</div>
            <div class="account-card-content">{{account.data.email}}</div>
        </div>
    </div>

    <div class="account-card show-mobile pointer" ng-click="account.goPassword()">
        <div class="account-card-info">
            <div class="account-card-title">Cambiar password</div>
        </div>
    </div>

</div>