<div class="account-profile-page wrapper">

    <h1 class="page-title">Mi perfil</h1>

    <form class="form" ng-submit="profile.update()">

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Primer nombre</label>
                <input ng-model="profile.data.firstName" id="title-input" type="input" class="form-control" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Segundo nombre</label>
                <input ng-model="profile.data.lastName" id="title-input" type="input" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="email" class="control-label">Genero</label>
                <select ng-model="profile.data.gender" class="form-control">
                    <option value="f">Femenino</option>
                    <option value="m">Masculino</option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Telefono</label>
                <input ng-model="profile.data.phone" id="title-input" type="input" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <input type="hidden" ng-model="profile.data.country">
                <input type="hidden" ng-model="profile.data.city">
                <label for="title-input" class="control-label">En que ciudad resides?</label>
                <input class="form-control" ng-place class="form-city" ng-model="place.search" options="place.options" details="place.result" type="text" placeholder="En que ciudad?">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label for="about-textarea" class="control-label">Cuentanos sobre ti</label>
                <textarea ng-model="profile.data.about" class="form-control" id="about-textarea" rows="6" required></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-blue">Actualizar</button>
                <a href="/#/p/account" class="btn btn-gray">Regresar</a>
            </div>
        </div>  

    </form>

</div>

