<div class="account-email-page wrapper">

    <h1 class="page-title">Cambiar email</h1>

    <form class="form" ng-submit="email.update()">

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Nuevo email</label>
                <input ng-model="email.data.email" id="title-input" type="email" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Confirmar email</label>
                <input ng-model="email.data.reemail" id="title-input" type="email" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-blue">Cambiar</button>
                <a href="/#/p/account" class="btn btn-gray">Regresar</a>
            </div>
        </div>

    </form>

</div>

