<div class="account-password-page wrapper">

    <h1 class="page-title">Cambiar password</h1>

    <form class="form" ng-submit="password.update()">

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Password actual</label>
                <input ng-model="password.data.currentPassword" id="title-input" type="password" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Nuevo password</label>
                <input ng-model="password.data.password" id="title-input" type="password" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="title-input" class="control-label">Confirmar password</label>
                <input ng-model="password.data.repassword" id="title-input" type="password" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-blue">Cambiar</button>
                <a href="/#/p/account" class="btn btn-gray">Regresar</a>
            </div>
        </div>

    </form>

</div>

