<div class="appointment-cancel-modal">
    <h1 class="page-title">Cancelar servicio</h1>

    <p>Deja un mensaje al cliente indicando las razones de la cancelacion.</p>
    
    <form>
        <div class="form-group">
            <textarea rows="3" ng-model="appointment.data.msg" class="form-control" placeholder="Explica la cancelacion"></textarea>
        </div>

        <div class="form-group">
            <button ng-click="appointment.closeModal()" type="button" class="btn" data-dismiss="modal">Cerrar</button>
            <button ng-click="appointment.cancel()" type="button" class="btn btn-red">Cancelar servicio</button>
        </div>

    </form>

</div>