<div class="appointment-update-modal">
    <h1 class="page-title">Cambiar fecha</h1>

    <p>
        Deja un mensaje indicando las razones del cambio de fecha, cuando se genera un
        cambio de fecha la otra parte debe aprobar este cambio para que puedas aprobar el servicio.
    </p>
    
    <form>
        <div class="form-group">
            <textarea rows="3" ng-model="appointment.data.msg" class="form-control" placeholder="Explica la cancelacion"></textarea>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <label for="title-input" class="control-label">Fecha</label>
                <input type="text" id="datepicker" class="form-control" ng-change="appointment.setDate()" ng-model="appointment.data.date" id="date-input"  data-field="date" readonly>
            </div>
            <div class="form-group col-xs-6">
                <label for="title-input" class="control-label">Hora</label>
                <select class="form-control" ng-model="appointment.data.time">
                    <option>12:00</option>
                    <option>1:00</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <button ng-click="appointment.closeModal()" type="button" class="btn" data-dismiss="modal">Cerrar</button>
            <button ng-click="appointment.updateDate()" type="button" class="btn btn-blue">Cambiar fecha</button>
        </div>

    </form>

</div>
