<div class="appointment-detail-page wrapper">

    <div ng-show="appointment.data.success">
        <h1 class="page-title">Servicio agendado</h1>
        <p>
            El servicio fue agregado en tu agenda.
        </p>

        <button ng-click="appointment.goShedule()" type="button" class="btn btn-blue">Ver agenda</button>
    </div>

    <div ng-hide="appointment.data.success">
        <div class="appointment-info">
            <h1 class="page-title">Detalle del servicio</h1>
            
            <h4>X2 Clases de ingles</h4>

            <div class="appointment-info-row user-info">
                <div class="appointment-info-col field">
                    <img class="avatar medium" src="{{ 'thumb-' + appointment.data.client.avatar  | uploads }}">
                </div>
                <div class="appointment-info-col value">
                    <h3 class="user-info-name">{{appointment.data.client.firstName}} {{appointment.data.client.lastName}}</h3>
                </div>
                <div class="appointment-info-col icon">
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>      
         
            <div class="appointment-info-row">
                <div class="appointment-info-col field">Fecha</div>
                <div class="appointment-info-col value">{{appointment.data.when}}</div>
                <div class="appointment-info-col icon" ng-click="appointment.showUpdate()">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
            </div>

            <div class="appointment-info-row">
                <div class="appointment-info-col field">Lugar</div>
                <div class="appointment-info-col value">{{appointment.data.place.address}}</div>
                <div class="appointment-info-col icon">
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>

            <div class="appointment-info-row">
                <div class="appointment-info-col field">Estado</div>
                <div class="appointment-info-col value">Pendiente aprobacion</div>
            </div>
         
            <div class="appointment-info-row comment">
                <div class="appointment-info-col field">Comentario</div>
                <div class="appointment-info-col value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </div>
            </div>

        </div>

        <div id="appointment-resume" class="appointment-resume">

            <h1 class="page-title">Resumen servicio</h1>

            <!-- </form> -->

            <div class="appointment-resume-costs">
                <div class="row">
                    <div class="col-xs-7">Valor hora</div>
                    <div class="col-xs-5 text-right">{{appointment.data.price}} $</div>
                </div>
                <div class="row">
                    <div class="col-xs-7">Valor x{{appointment.data.amount}} horas</div>
                    <div class="col-xs-5 text-right">{{appointment.data.total}} $</div>
                </div>
                <div class="row">
                    <div class="col-xs-7"><strong>Total</strong></div>
                    <div class="col-xs-5 text-right"><strong>{{appointment.data.total}} $</strong></div>
                </div>
            </div>

            <button ng-show="appointment.data.status == 'request'" ng-click="appointment.accept()" type="button" class="btn btn-blue full">Aceptar servicio</button>

            <button ng-click="appointment.showCancel()" type="button" class="btn full">Cancelar servicio</button>

        </div>

    </div>


</div>