
<div class="HomePage">
    
    <div class="HomeCover">
        <div class="HomeCover-opacity">
            
            <div class="HomeCover-content">

                <h1 class="HomeCover-title">Encuentra clases y servicios a domicilio</h1>

                <form class="HomeSearch">

                    <div class="form-group">
                        <input ng-model="data.city" type="text" class="form-control" placeholder="Que servicio necesitas?">
                    </div> 

                    <div class="form-group">
                        <input ng-model="data.city" type="text" class="form-control" placeholder="En que ciudad estas?">
                    </div>

                    <button type="submit" class="btn btn-success">Buscar</button>

                </form>
            </div>
        </div>
    </div>

</div>
<!-- <section class="index-page">
    <section class="index-page-search">
        <div class="index-page-search-over">
            <div class="index-page-search-content">
                <h1>Encuentra servicios a domicilio</h1>

                <form ng-submit="index.search()">

                    <div class="form-group">
                        <input type="hidden" ng-model="index.data.service._id">
                        <ng-service detail="service"></ng-service>
                    </div>

                    <div class="form-group">
                        <input type="hidden" ng-model="index.data.country">
                        <input type="hidden" ng-model="index.data.city">
                        <input ng-place class="form-control" ng-model="place.search" options="place.options" details="place.result" type="text" placeholder="En que ciudad?">
                    </div>
                      
                    <div class="form-group">
                        <button type="submit" class="btn btn-blue full">Encontrar</button>
                    </div>
                </form>       

            </div>
        </div>
    </section>

    <section class="index-page-howto wrapper">

        <h2>Aydoor es muy simple, asi funciona</h2>

        <div class="howto-flex">
            <div class="howto-flex-item">
                <img src="img/how-to-1.jpg">
                <h4>Encuentra el servicio</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>

            <div class="howto-flex-item">
                <img src="img/how-to-2.jpg">
                <h4>Agenta la cita</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>

            <div class="howto-flex-item">
                <img src="img/how-to-3.jpg">
                <h4>Disfruta el servicio</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>

    </section>

</section>
 -->