<div class="login-page wrapper">

    <h1 class="page-title">Iniciar sesion</h1>

    <form ng-submit="login.login()">

        <div class="form-group">
            <input class="form-control" ng-model="login.data.email" type="text" placeholder="Email">
        </div>

        <div class="form-group">
            <input class="form-control" ng-model="login.data.password" type="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-blue full">Entrar</button>
        </div>

    </form>  

</div>