<div class="dialog-nav" ng-click="closeMenu()">

    <div class="nav-mobile-user" ng-hide="!data.access">
        <a href="/#/p/account" ><img class="avatar large pointer" src="{{ 'thumb-'+user.avatar | uploads }}"></a>
    </div>

    <ul class="nav-mobile-ul">
        <li class="nav-mobile-li"><a href="/#/" class="nav-mobile-link">Inicio</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : !data.access}"><a href="/#/login" class="nav-mobile-link">Login</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : !data.access}"><a href="/#/signup" class="nav-mobile-link">Registrate</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : data.access}"><a href="/#/p/account" class="nav-mobile-link">Mi cuenta</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : data.access}"><a href="" class="nav-mobile-link">Mensajes</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : data.access}"><a href="" class="nav-mobile-link">Mis citas</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : data.access}"><a href="/#/p/service" class="nav-mobile-link">Agenda</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : data.access}"><a href="/#/p/service" class="nav-mobile-link">Solicitudes</a></li>
        <li class="nav-mobile-li is-none" ng-class="{'is-block' : data.access}"><a href="/#/p/service" class="nav-mobile-link">Mis servicios</a></li>
        <li class="nav-mobile-li"><a href="/#/logout" class="nav-mobile-link">Salir</a></li>
    </ul>

</div>