<div class="pay-book-page wrapper">

    <div class="pay-book">
        <!-- <h1 class="page-title">Clases de ingles</h1> -->

        <form class="form" ng-submit="payBook.pay()">

            <div class="pay-book-resume">
                <h3>Resumen del servicio</h3>

                <label for="description-textarea" class="control-label">Clase de ingles x{{payBook.book.amount}} horas</label>
                <div class="pay-book-resume-content">

                    <div class="pay-book-resume-key">Valor hora</div>
                    <div class="pay-book-resume-value text-right">{{payBook.data.price}} $</div>

                    <div class="pay-book-resume-key">Valor X{{payBook.book.amount}} horas</div>
                    <div class="pay-book-resume-value text-right">{{payBook.billing.value}} $</div>

                    <div class="pay-book-resume-key">Cargo servicio</div>
                    <div class="pay-book-resume-value text-right">{{payBook.billing.service}} $</div>

                    <div class="pay-book-resume-key total-price">Total a pagar</div>
                    <div class="pay-book-resume-value text-right total-price">{{payBook.billing.total}} $</div>
                </div>

            </div>

            <div class="pay-book-payment">

                <h3>Pago</h3>

                <div class="form-group pay-book-payment-card">
                    <label for="cc-number" class="control-label">Numero de tarjeta</label>
                    <input ng-model="payBook.cc.number" id="cc-number" type="text" class="form-control" required placeholder="#### #### #### ####">            
                </div>


                <div class="form-group pay-book-payment-expiration">
                    <label class="control-label">Fecha de expiracion</label>

                    <select ng-model="payBook.cc.month" class="form-control month">
                        <option>MM</option>
                        <option>01</option>
                    </select>

                    <select ng-model="payBook.cc.year" class="form-control year">
                        <option>YYYY</option>
                        <option>2020</option>
                    </select>
                </div>

                <div class="form-group pay-book-payment-cvc">
                    <label for="cc-cvc" class="control-label">CVC</label>
                    <input ng-model="payBook.cc.cvc" id="cc-cvc" type="number" class="form-control" required>
                </div>

            </div>

            <div class="pay-book-delivery">
                <h3>Informacion de entrega</h3>

                <div class="row control-label">
                    <div class="form-group col-sm-3">
                        <strong>Fecha</strong> {{ payBook.book.date }}
                    </div>
                    <div class="form-group col-sm-3">
                        <strong>Hora</strong> {{ payBook.book.time }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="book-address" class="control-label">Direccion en donde llegara el servicio</label>
                        <input ng-model="payBook.book.address" id="book-address" type="text" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="book-comment" class="control-label">Algun comentario para el proveedor?</label>
                        <textarea ng-model="payBook.book.comment" class="form-control" id="book-comment" rows="3" required></textarea>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-red">Pagar</button>
        </form>
    </div>
</div>