<div class="request-page wrapper">

    <h1 class="page-title">Solicitudes</h1>

    <div ng-show="requestList.data.length == 0">
        Aun no tienes solicitudes pendientes
    </div>

    <div ng-show="requestList.data.length > 0" class="request-list">
        <div class="request" ng-repeat="request in requestList.data">
            <img class="avatar medium" src="{{ 'thumb-'+request.client.avatar | uploads }}" >

            <a class="request-wrapper" href="/#/p/appointment/{{request._id}}">
                <div class="request-info">
                    <div class="request-info-user">{{request.client.firstName}}</div>
                    <div class="request-info-service">{{request.service.name}}</div>
                    <div class="request-info-when">
                        {{request.when}}
                        <!-- <div>2:00pm</div> -->
                    </div>
                </div>

                <div class="request-price">
                    ${{request.price}}
                    <div class="request-price-unit">{{request.amount}} horas</div>
                </div>
            </a>
        </div>
    </div>

</div>


