<div class="search-page">

    <!-- <div ng-show="search.showResults()"> -->
        <section class="search-filter">
            <div class="wrapper">

                <form ng-submit="search.search()">
                    <input type="hidden" ng-model="search.data.service">
                    <ng-service class="search-filter-service" detail="service"></ng-service>

                    <input type="hidden" ng-model="search.data.country">
                    <input type="hidden" ng-model="search.data.city">
                    <input ng-place class="form-control search-filter-place" ng-model="place.search" options="place.options" details="place.result" type="text" placeholder="En que ciudad?">

                    <select ng-change="search.onPrice()" ng-model="search.price" class="form-control search-filter-price">
                        <option value="0,1000">Cualquier precio</option>
                        <option value="0,30">hasta $30</option>
                        <option value="30,60">$30 a $60</option>
                        <option value="60,90">$60 a $90</option>
                        <option value="90,1000">$90 o mas</option>
                    </select>

                    <button class="btn btn-blue">Buscar</button>
                </form>
            </div>
        </section>

        <section class="wrapper search-results">

            <h1 class="search-results-title page-title"> {{search.data.results.length}} Servicios encontrados</h1>

            <div class="search-results-list">

                <div class="search-results-fix" ng-repeat="service in search.data.results">

                    <div class="service-card"> 
                        <h2 class="service-card-title">{{service.user.firstName}}</h2>
                        <img class="service-card-avatar" src="{{ 'thumb-' + service.user.avatar  | uploads }}">
                        <div class="service-card-rating">Excelente</div>
                        <a href="/#/service/{{service._id}}" class="btn btn-blue">Contratar por ${{service.price}}/hr</a>
                    </div>

                </div>

            </div>

        </section>
    <!-- </div> -->

  <!--   <div ng-hide="search.showResults()" class="wrapper search-form">
        <h1>Encuentra los servicos que necesitas</h1>

        <form ng-submit="search.search()">

            <div class="form-group" ng-hide="search.data.service">
                <input class="form-control" ng-model="search.data.service" name="service" id="service" type="text" placeholder="Que servicio buscas">
            </div>

            <div class="form-group">
                <input class="form-control" ng-model="search.data.city" name="city" id="city" type="text" placeholder="En que ciudad lo buscas?">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-form">Buscar</button>
            </div>

        </form>  
    </div>
 -->
</div>