<div class="service-detail-page wrapper">

    <div id="service-schedule" class="service-schedule">

        <div ng-click="service.close()" class="service-schedule-close"></div>
        <h1 class="page-title">Contratar servicio</h1>

        <!-- <form class="form" ng-submit="profile.update()"> -->

            <div class="row">
                <div class="form-group col-xs-7">
                    <label for="title-input" class="control-label">Fecha</label>
                    <input ng-model="service.book.date" id="datepicker" type="input" class="form-control" required readonly>
                </div>
                <div class="form-group col-xs-5">
                    <label for="title-input" class="control-label">Hora</label>
                    <select class="form-control" ng-model="service.book.time">
                        <option>12:00</option>
                        <option>1:00</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-7">
                    <label for="title-input" class="control-label amount-label">Por cuantas horas?</label>
                </div>
                <div class="form-group col-xs-5">
                    <select ng-change="service.calculate()" ng-model="service.book.amount" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

        <!-- </form> -->

        <div class="service-schedule-costs">
            <div class="row">
                <div class="col-xs-7">Valor hora</div>
                <div class="col-xs-5 text-right">{{service.data.price}} $</div>
            </div>
            <div class="row">
                <div class="col-xs-7">Valor x{{service.book.amount}} horas</div>
                <div class="col-xs-5 text-right">{{service.billing.value}} $</div>
            </div>
            <div class="row">
                <div class="col-xs-7">Cargo servicio </div>
                <div class="col-xs-5 text-right">{{service.billing.service}} $</div>
            </div>
            <div class="row">
                <div class="col-xs-7"><strong>Total</strong></div>
                <div class="col-xs-5 text-right"><strong>{{service.billing.total}} $</strong></div>
            </div>
        </div>

        <button ng-click="service.goPay()" type="button" class="btn btn-red full">Continuar</button>


    </div>

    <div class="service-info">
        <h1 class="page-title">{{service.data.service.name}}</h1>

        <section class="user-info">
            <img class="avatar large" src="{{ 'thumb-' + service.data.user.avatar  | uploads }}">

            <h3 class="user-info-name">{{service.data.user.firstName}} {{service.data.user.lastName}}</h3>
            <div class="user-info-data">
                <div class="user-info-city">{{service.data.city}}, {{service.data.country}}</div>
                <div class="user-info-service">19 servicios</div>
                <div class="user-info-rate">90% positivas</div>
            </div>

            <h3 class="service-price show-mobile">Valor hora ${{service.data.price}}</h3>

            <button ng-click="service.open()" type="button" class="btn btn-red show-mobile">Contratar este servicio</button>
        </section>


        <section class="service-description">
            <strong>Descripcion del servicio</strong>
            <p>
                {{service.data.description}}  
            </p>
        </section>

        <section class="user-contact">
            Tienes dudas? <a href="">escribele a {{service.data.user.firstName}}</a>
        </section>

        <section class="user-opinions">
            <h2>Opiniones</h2>
        </section>
    </div>


</div>