<div class="service-list-page wrapper">

    <h1 class="service-list-page title">
        Mis servicios

        <a href="#/p/service/add" class="add-button">
            <span class="fa-stack fa-lg add">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </span> 
        </a>
    </h1>

    <div class="service-list">

        <div class="service-list-fix" ng-repeat="service in serviceList.data.list">
            <div class="service-card">
                <h2 class="service-card-title">{{service.service.name}}</h2>
                <p class="service-card-description"><span ng-show="service.disabled" class="label label-danger">Desactivado</span> {{service.description}}</p>

                <div class="overflow-hidden">
                    <div class="service-card-price">COP {{service.price}}</div>

                    <span ng-click="serviceList.delete(service._id)" class="fa-stack fa-lg delete pointer">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                    </span>

                    <a href="#/p/service/{{service._id}}/edit">
                        <span class="fa-stack fa-lg edit">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>


