<div class="service-add-page wrapper">

    <h1 class="page-title">Nuevo servicio</h1>

    <form class="form" ng-submit="serviceAdd.create()">

        <div class="row">
            <div class="form-group col-sm-6">
                <input type="hidden" ng-model="serviceAdd.data.service">
                <ng-service detail="service"></ng-service>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="description-textarea" class="control-label">Descripcion</label>
                <textarea ng-model="serviceAdd.data.description" class="form-control" id="description-textarea" rows="6" required></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label for="email" class="control-label">Tipo de cobro</label>
                <select class="form-control" ng-model="serviceAdd.data.type">
                    <option value="hour">Por hora</option>
                    <option value="service">Por servicio</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label for="email" class="control-label">Precio</label>
                <input ng-model="serviceAdd.data.price" id="email" type="number" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-blue">Guardar</button>
                <a href="/#/p/service" class="btn btn-gray">Regresar</a>
            </div>
        </div>  

    </form>

</div>