<div class="signup-page wrapper">

    <h1 class="page-title">Registrate gratis</h1>

    <form ng-submit="signup.signup()">

        <div class="form-group">
            <input class="form-control" ng-model="signup.data.firstName" name="firstName" id="first-name" type="text" placeholder="Nombre">
        </div>

        <div class="form-group">
            <input class="form-control" ng-model="signup.data.lastName" name="lastName" id="last-name" type="text" placeholder="Apellido">
        </div>

        <div class="form-group">
            <input class="form-control" ng-model="signup.data.email" name="email" id="email" type="text" placeholder="Correo electronico">
        </div>

        <div class="form-group">
            <input class="form-control" ng-model="signup.data.password" name="password" id="password" type="password" placeholder="Contraseña">
        </div>

        <div class="form-group">
            <input type="hidden" ng-model="signup.data.country">
            <input type="hidden" ng-model="signup.data.city">
            <input class="form-control" ng-place class="form-city" ng-model="place.search" options="place.options" details="place.result" type="text" placeholder="En que ciudad vives?">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-blue full">Registrarme!</button>
        </div>

    </form>

</div>