/* helpers */

.clear
    clear both   
     
.pointer
    cursor pointer

.full
    width 100%
    
.none
    display none !important
    
.overflow-hidden
    overflow hidden
    
.show-mobile
    display none
    
.right
    float right
    
.is-none
    display none
            
.is-block
    display block        
        
.is-inline
    display inline-block
        
.ngdialog-open
    overflow hidden
    position fixed
  
.nav .open>a
    background transparent !important
    
/* media queries */
@media(max-width:768px)

    .show-mobile
        display block
        
    .show-desktop
        display none
        