@import '../helpers/mixin.styl'

/* account page */

.account
        
    &-page
        width 700px
    
        &-title
            padding 0 20px
          
    &-card
        margin-top 20px
        padding 20px
        overflow hidden
        border-bottom 1px #CCC solid
        
        &:hover
            text-decoration none
            
        &.profile-card
            .account-card-action
                margin 15px 0
                
            .account-card-title
                margin-top 15px

        .avatar-uploader
            float left
            margin-right 20px
           
            &-icon
                color #999
                position absolute
                margin 0px
                border-radius(50%)
                
            &.working
                img
                    opacity 0.5
                    
                .avatar-uploader-icon
                    display none   

                
        &-info
            float left
            

        &-title
            font-size 1.2rem
            margin-bottom 6px
        
        &-action
            width 180px
            float right
                
        
/* media queries */

@media(max-width:768px)

    .account
        
        &-page
            width 100%
            
        &-card
            padding 10px 0
            
            .avatar-uploader 
                float none
                margin 10px 0 0
                
            &-info
                float none
            
            &-action
                float none

            &.profile-card
                text-align center !important