.HomeCover
    background-image url('../img/background.jpg')
    background-size cover
    height 100vh
    
    
    &-opacity
        overflow hidden
        width 100%
        height 100%
        background rgba(0,0,0,0.7)
        
    &-content
        top 30%
        position relative
        
    &-title
        margin-bottom 20px
        font-size 2.5rem
        color #FFF
        text-align center
        
.HomeSearch
    width 320px
    margin auto
        

    
    .btn
        width 100%