@import '../helpers/mixin.styl'

/* index page */

.index-page
    &-search
        background-color #575A5B
        text-align center
        overflow hidden
        height 500px
        
        &-over
            width 100%
            height 100%
            background rgba(0,0,0,0.3)
            
        &-content
            overflow hidden
            position relative
            padding 0 15px
            top 25%
            
            h1
                color #FFF
                font-weight normal
                text-shadow(1px 2px #000)
                
            form
                width 400px
                margin auto

            
    &-howto
        text-align center
        
        h2
            font-weight normal
            margin 50px 0 60px 0

        .howto-flex
            &-item
                width 28%
                margin 0px 2% 20px 2%
                display inline-block
                
                h4
                    color #268188

                p
                    line-height 1.6em


/* media queries */
 
@media (max-width:768px)

    .index-page
        &-search
            height 450px  !important
            
            &-content
                top 20%
                
                form
                    width 300px
                    
        .howto-flex
            &-item
                width 100% !important
                margin 0 0 40px 0 !important