@import '../helpers/mixin.styl'

/* index page */

.login-page
    text-align center
    overflow hidden
    // margin-top 60px
        
    form
        width 320px
        margin auto
            
        input
            width 100%
            padding 10px
            margin 10px 0 0 0


/* media queries */
