@import '../helpers/mixin.styl'

/* index page */

.pay-book
    
    &-page
        max-width 900px
        position relative
        
        .control-label
            font-size 0.9rem
      
        h3
            margin 40px 0 20px  
            
        .btn-red
            margin 30px 0
            width 200px
                
    &-resume
        width 295px
        overflow hidden
        position absolute
        right 0px
        
        &-content
            padding 10px 15px
            border 1px #CCC solid
            overflow hidden
            
        &-key, &-value
            margin 2px 0
            float left
            width 50%
            
        &-key
            font-size 0.9rem
            
        .total-price
            color #4689D2
            font-weight bold
            margin 10px 0 0
            

    &-payment
        width 295px
        overflow hidden

        &-expiration
            width 205px
            float left
            .control-label
                width 100%
                
            select 
                display inline-block
                 
                &.month
                    width 80px !important
                    margin-right 10px
                    
                &.year
                    width 100px !important
                    
        &-cvc
            width 90px
            float left
            
            .form-control
                height 46px !important
             

/* media queries */

@media(max-width:768px)
    .pay-book
        
        &-page
            width 340px
  
        &-resume
            position static
        .btn-red
            width 100%
            
        .page-title
            font-size 1.6rem
