@import '../helpers/mixin.styl'

/* index page */

.request-page
    .request-list
        .request
            border-bottom 1px #DDD solid
            overflow hidden
            padding 20px 0
            &-wrapper
                width 100%
            .avatar
                float left
                margin-right 20px
                
            &-info
                width 70%
                float left
                display flex
                justify-content space-around
                padding 10px 0 0 0
                
                &-user
                    width 25%
                    
                &-service
                    width 40%
                    
                &-when
                    width 35%
                       
            &-price
                // width 20%
                text-align center
                float right
                color #59B200
                font-weight bold
                
                &-unit
                    color #4688D2

/* media queries */
