@import '../helpers/mixin.styl'

@media (max-width:1100px)
    .search-page
        .search-results
            &-fix
                width 33.3% !important
                
@media (max-width:800px)
    .search-page
        .search-results
            &-fix
                width 50% !important
            
@media (max-width:540px)
    .search-page
        .search-results
            &-fix
                width 100% !important
            
.search-page
    padding:0 0 50px 0
    
    .search-filter
        margin 0px
        background #F6F6F6
        height 90px
        
        .wrapper
            padding-top 25px
            
        input, select
            display inline-block
            width 250px
            margin-right 20px 
            
        &-service
            display inline-block
            
        // &-place
        //     margin-left 20px 
      
        &-price
            width 150px !important
            
        // .btn-red
        //     display inline-block
            
            
    // .sub-nav
    //     padding 10px 0
    
    //     input
    //         width 300px
             
    // .search-form
    //     text-align center
        
    //     form 
    //         width 350px
    //         margin auto
          
    .search-results
        &-list
            margin -10px
        
        &-fix
            width 25%
            display inline-block
            padding 10px
            overflow hidden
            box-sizing(border-box)
            
        .service-card
            border 1px #DDD solid
            position relative
            z-index 9
            background #FFF
            // width 300px
            padding 10px 10px 30px 10px
            text-align center

            &:before 
                content ""
                position absolute
                z-index -1
                top 0
                right 0
                bottom 60%
                left 0
                background #F2F2F2
                
            &-avatar
                width 100px
                height 100px
                border-radius(50%)

            &-rating
                margin 20px 0
                
            &-btn
                width auto
                margin 0px
                font-size 2rem
