@import '../helpers/mixin.styl'

/* index page */

.service-list-page
    // padding:0 0 50px 0
    
    &-title
        overflow hidden
        
    .add-button
        float right
        font-size 1rem
        color #96CD4B          
            
    .service-list
        margin 20px -20px 0
        
        &-fix
            width 50%
            display inline-block
            margin 0px
            padding 20px
            
        .service-card
            border-bottom 1px #DDD solid
            background #FFF
            padding 10px 0px
            overflow hidden
            
            &-title
                font-size 1.4rem
                margin 10px 0 20px 0
            
            &-description
                font-size 1rem
                height 64px
                margin-bottom 20px
                overflow: hidden
            
            &-price
                float left
                margin-top 8px
                color #999
                font-size 1.1rem
            
            .fa-stack
                float right
                &.edit
                    color #5bc0de
                    
                &.delete
                    color #FF4D4D
                    

/* media queries */

@media(max-width:768px)

    .service-list-page
        .service-list
            &-fix
                width 100% !important