@import '../helpers/mixin.styl'

/* index page */

.service-schedule

    .hours-label
        padding 10px 0
        
    &-costs
        border-top 1px #E9E9E9 solid
        padding 20px 0
        margin 10px 0
        
        .row
            padding 5px 0