@import '../helpers/mixin.styl'

/* index page */

.service-detail-page
    overflow hidden
               
    .service-schedule
        float right
        width 280px
        position static
        
        .hours-label
            padding 10px 0
            
        &-costs
            border-top 1px #E9E9E9 solid
            padding 20px 0
            margin 10px 0
            
            .row
                padding 5px 0
                    
    .service-info
        margin-right 320px
        border-right 1px #E9E9E9 solid
        padding-right 40px
             
    .user-info
        overflow hidden
        border-bottom 1px #E9E9E9 solid
        padding 0 0 20px 0
        margin  0 0 20px 0
        
        .avatar
            float left
            margin-right 20px

        &-data
            display flex
            justify-content space-between
            
    .service-description  
        strong
            display block      
            margin 10px 0
        p
            font-size 0.9rem
            color #999
 
        
    .user-contact
        margin 20px 0 
        a
            font-weight bold
        
    .user-opinions
        border-top 1px #E9E9E9 solid
        margin 20px 0 0 0
               
/* media queries */

@media(max-width:768px)

    .service-detail-page
        overflow hidden
        
        .service-schedule
            display none
            width 100%
            height 100%
            top 0px
            left 0px
            position fixed
            background #FFF
            padding 20px
            overflow auto
            z-index 1000
            .page-title
                margin 0 0 30px 0
                padding 0 0 15px 0
                font-size 1.6rem
                border-bottom 1px #DDD solid
                
            &-close 
                cursor pointer
                position absolute
                right 10px
                top 20px

                &:before 
                    background transparent
                    color #bbb
                    content "\00D7"
                    font-size 35px
                    font-weight 400
                    height 30px
                    line-height 26px
                    position absolute
                    right 3px
                    text-align center
                    top 3px
                    width 30px   
            // display none
            // position absolute
                        
        .service-info
            border-right 0px
            margin-right 0px 
            padding 0px
            
            .page-title 
                font-size 1.6rem
                text-align center 
            
        .user-info
            text-align center 
            
            .avatar
                float none !important
                margin-right 0px
                
            &-name
                margin 10px 0 4px
                font-size 1.2rem
                               
            &-city
                display none
                                
            &-service
                display none
                
            &-rate
                width 100%
                font-size 0.9rem
                
            .show-mobile
                
                &.btn-red
                    width 100%
                    position fixed
                    bottom 0px
                    left 0px
                    
                // &.btn-red
                //     // width 200px
                //     display inline-block !important  
                //     // margin 25px 

                &.service-price
                    font-size 1.1rem
                    color #3077C5
                    margin 20px 0 0