/* helpers */
.btn {
  padding: 10px 16px;
  color: #fff !important;
  font-size: 16px;
/* buttons color */
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-white {
  color: #666 !important;
  border-color: #999;
  background-color: #fff;
}
.btn.btn-gray {
  color: #666 !important;
  border-color: #999;
  background-color: #e9e9e9;
}
.btn.btn-red {
  border-color: #f91800;
  background-color: #ff6251;
}
.btn.btn-blue {
  border-color: #136ac1;
  background-color: #5fa7ef;
}
.control-label {
  font-weight: normal !important;
}
.form-control {
  height: auto !important;
  padding: 10px !important;
  font-size: 1em !important;
  border: 1px #ccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #ccc;
  -webkit-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: auto;
  background-color: transparent !important;
  opacity: 1;
}
@media (max-width: 360px) {
  form {
    width: 100% !important;
  }
}
.HomeCover {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
}
.HomeCover-opacity {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.HomeCover-content {
  top: 30%;
  position: relative;
}
.HomeCover-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
.HomeSearch {
  width: 320px;
  margin: auto;
}
.HomeSearch .btn {
  width: 100%;
}
/**
 * Main aydoor file
 *
 **/
body,
html {
  height: 100%;
  width: 100%;
}
