@import '../helpers/mixin.styl'

/* avatar */

.avatar
    border-radius(50%)
    
    &.small
        width 34px
        height 34px
            
    &.medium
        width 50px
        height 50px    
        
    &.large
        width 100px
        height 100px