@import '../helpers/mixin.styl'

/* buttons */

.btn
    padding 10px 16px
    color #FFF !important
    font-size 16px
    // border 0px
    // border-bottom 2px #999 solid
    // border-radius(4px)
    // box-sizing(border-box)
    
    &:hover
        text-decoration none
      
    /* buttons color */  
    &.btn-white
        color #666 !important
        border-color #999
        background-color #FFF
        
    &.btn-gray
        color #666 !important
        border-color #999
        background-color #E9E9E9
        
    &.btn-red
        border-color #F91800
        background-color #FF6251        
        
    &.btn-blue
        border-color #136AC1
        background-color #5FA7EF