@import '../helpers/mixin.styl'

/* dialog */

.ngdialog
    padding-bottom 40px
    padding-top 40px
    z-index 100
    &-open
        padding-right 0px
        
    &-content 
        background #fff
        margin 0 auto
        max-width 100%
        padding 20px
        position relative
        widtH 450px
        
        .page-title
            margin 0 0 30px 0
            padding 0 0 15px 0
            font-size 1.6rem
            border-bottom 1px #DDD solid

    &-close 
        cursor pointer
        position absolute
        right 10px
        top 20px

        &:before 
            background transparent
            color #bbb
            content "\00D7"
            font-size 35px
            font-weight 400
            height 30px
            line-height 26px
            position absolute
            right 3px
            text-align center
            top 3px
            width 30px


        &:hover:before, &:active:before 
            color #777


    /* themes */
    &-theme-menu
        &.ngdialog
            padding-bottom 0px !important
            padding-top 0px
            
        .ngdialog
            &-content
                width 300px
                min-height 100%
                margin 0
                // float right
                padding 0px
                
            &-close
                display none
                

/* media queries */                
  
@media (max-width:768px) 
    .ngdialog
        padding-bottom 0px
        padding-top 0px

        &-content
            width 100%
            min-height 100%
            

        /* themes */
        // &-theme-menu
        //     .ngdialog
        //         &-content
        //             width 300px
        //             min-height 100%
        //             margin 0