@import '../helpers/mixin.styl'

/* dialog nav */

.dialog-nav
    overflow hidden
    
    .nav-mobile

        &-user
            text-align center
            background #333
            padding 40px 0
            
            .avatar
                border 3px #FFF solid
                box-shadow(0px 0px 2px 2px rgba(0,0,0,0.2))
           

        &-ul
            margin 0
            padding 20px 0
            list-style none
            background #F5F5F5
            
        &-li
            border-top #E3E3E3 1px solid
            
            &:first-child
                border-top 0px
                
        &-link
            padding 10px 0 10px 40px
            display block
            color #666
            

            
            &:hover
                color #333
                background #DDD
                text-decoration none
            