@import '../helpers/mixin.styl'

/* forms */

.control-label
    font-weight normal !important
    
.form-control
    height auto !important
    padding 10px !important
    font-size 1em !important
    border 1px #CCC solid
    box-sizing(border-box)
    border-radius(4px)
    
.form-control:focus
    border-color #cccccc
    -webkit-box-shadow none
    box-shadow none
    
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
    cursor auto
    background-color transparent !important
    opacity 1
    
/* media queries */
 
@media (max-width:360px)

    form
        width 100% !important