@import '../helpers/mixin.styl'

/* suggest */

ng-service
    position relative
    display block

    .suggest
        position absolute
        z-index 10
        margin -5px 0 0 0
        padding 5px 0 0 0
        width 100%
        background-color #FFF
        border 1px #CCC solid
        border-top 0px;
        border-radius(4px)

        .suggest-element
            display block
            text-align left
            padding 10px 
            
            &:hover
                background-color #F9F9F9 