@import '../helpers/mixin.styl'

/* content */

.wrapper
    margin auto
    padding 0 20px
    max-width 1100px
    // overflow hidden


/* media queries */
@media (max-width:768px)

    .ui-view
        padding 53px 0 0 0
