@import '../helpers/mixin.styl'

/* header */

.header
    width 100%
    padding 10px 0
    background #FFF
    position relative
    // overflow hidden
    z-index 10
    box-shadow(0 2px 3px 0 rgba(0,0,0,0.2))

/* media queries */
 
@media (max-width:768px)
    
    .header
        top 0px
        position fixed
        padding 8px 0
