@import '../helpers/mixin.styl'

/* navigation */

.nav
    // display inline-block
    // float right
    
    
    .fa-bars
        display none
        float left
        font-size 1.6em
        cursor pointer
        padding: 7px 20px 7px 0;
        
    &-logo
        float left
        background-image url('../img/logo.png')
        background-position 0px 36px
        width 101px
        height 36px
        position relative
        top 5px
         
    &-link
        padding 8px 16px
        
        .avatar
            border 2px #FFF solid
            box-shadow(0px 0px 2px 2px rgba(0,0,0,0.2))
            
/* media queries */
 
@media (max-width:768px)

    .nav
        .fa-bars
            display block 
            
        &-link
            display none !important
        
